<a-scene
  embedded
  arjs="sourceType: webcam; detectionMode: mono; debugUIEnabled: false"
  renderer="colorManagement: true; physicallyCorrectLights: false"
>
  <a-assets timeout="15000" crossorigin="anonymous">
    <ng-container *ngFor="let t of targets">
      <img
        *ngIf="t.type === 'image'"
        [attr.id]="'img-' + t.id"
        [attr.src]="t.contenturl"
        crossorigin="anonymous"
      />
    </ng-container>
  </a-assets>

  <ng-container *ngFor="let target of targets">
    <a-marker *ngIf="target.type === 'marker'" type="pattern" [attr.url]="target.contenturl">
      <a-box position="0 0.5 0" material="color: red;"></a-box>
    </a-marker>

    <a-plane
      *ngIf="target.type === 'image'"
      [attr.src]="'#img-' + target.id"
      position="0 1 -3"
      width="1.5"
      height="2"
      rotation="0 0 0"
      scale="1 1 1"
      material="side:double; transparent:true; opacity:1"
    ></a-plane>
  </ng-container>

  <a-entity camera="fov:60" position="0 1.6 0"></a-entity>
</a-scene>
